.buttons {
  margin:5px;
  background-color:white;
  border:1px solid black;
  width:12%;
  text-align:center;
}
.smallbuttons {
  background-color:#3084cf;
  color:white;
  border:2px solid #3084cf;
  padding:4px;
  width:60%;
  margin:2px;
  cursor:pointer;
  font-family: 'JetBrains Mono', monospace;
}
#div1, #div2, #div3 {
}
